.list{
 background-color: beige;   
}

.title{
    font-family:  "Times New Roman", Times, serif;
  font: bold;
  color: rgb(48, 223, 86);
  font-size: 60px;
}

.data{
    margin-left: auto;
    margin-right: auto;
}

