.login{
  background: url(../Images/Login.jfif) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;

  height: 650px;
  width: 1310px;
}
.bank{
  font-family:  "Times New Roman", Times, serif;
  font: bold;
  color: rgb(241, 183, 106);
  font-size: 60px;
   
}
.title{
  font-family:  "Times New Roman", Times, serif;
  font: bold;
  color: rgb(185, 247, 86);
  font-size: 60px;
  
}
.card{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color:rgb(182, 250, 235);
    
}

.card.form{
  margin: 25px;
  background-color: aqua;
}